Flask==2.0.2
celery==5.1.2
flask-restplus==0.13.0
xmltodict==0.12.0
cachetools==4.2.4
mongoengine==0.23.1
pyaml==21.10.1
Flask-Executor==0.10.0
boto3==1.20.41
reportportal-client==5.2.3
decorator==5.1.1
pandas==1.4.3
pytest-testrail==2.9.0
pytest-jira==0.3.17
bs4==0.0.1
testrail-api==1.10.6
slackclient==2.9.4
protobuf==3.20.2
filelock==3.4.1
grpcio-tools==1.43.0
grpcio==1.43.0
statsd==3.3.0
locust==2.6.0
newrelic==7.6.0.173
apscheduler==3.9.1
pyzmq==22.3.0
redis==4.3.1
datadog-api-client==1.12
werkzeug==2.0.3
pytest==7.1.2
pytest-html==3.1.1
in-place==0.5.0
dependency-injector==4.39.1
pytest-reportportal==5.1.2

